<ul>
  <li>
    <strong>Name:</strong>
    <%= @part.name %>
  </li>
  <li>
    <strong>Ingridients:</strong>
    <dl>
    <%= for ingridient <- @part.ingridients do %>
      <dt><%= ingridient.name %></dt>
      <dd><%= ingridient.percentage %>%</dd>
    <% end %>
    </dl>
  </li>
</ul>
