<h2>Edit Product image</h2>

<%= render "form.html", Map.put(assigns, :action, Routes.product_image_path(@conn, :update, @product_image.product_id, @product_image)) %>

<span><%= link "Back", to: Routes.product_image_path(@conn, :index, @product_image.product_id) %></span>
