<h2>Edit Product type</h2>

<%= render "form.html", Map.put(assigns, :action, product_type_path(@conn, :update, @product_type)) %>

<span><%= link "Back", to: product_type_path(@conn, :index) %></span>
