.menuIcon {
  position: fixed;
  z-index: 3;
  top: 1.25rem;
  left: 1.25rem;
}
.menuShown {
  .menu {
    transform: translateX(0);
    z-index: 2;
  }
  .menuOverlay {
    opacity: 0.7;
    pointer-events: all;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  position: fixed;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  background-color: white;
  box-shadow: 0px 0px 10px 7px rgba(204, 204, 204, 0.25);
  padding-top: 2.5rem;
  &::after {
    flex: 0 0 1.25rem;
    content: '';
  }
  & ul {
    padding: 0;
    list-style: none;
    li {
      display: flex;
      justify-content: center;
    }
  }
  & a {
    // font-family: 'Tillana', cursive;
    font-size: 1em;
    text-align: center;
    color: black;
    margin-bottom: 1em;
    text-decoration: none;
    &:link, &:visited, &:hover, &:focus, &:active {
      color: black;
      outline: none;
    }
  }
  .logo {
    height: 120px;
    text-align: center;
    & img {
      height: 100%;
    }
    margin-top: 2rem;
    margin-bottom: 2.5rem
  }
  .social {
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    min-height: 68px;
  }
}

.menuOverlay {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: black;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  pointer-events: none;
}
