body {
    background-color: #ddd;
}
.header {
  background-size: 100%;
  background-position: center;
  height: 150px;
}
.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

@media (max-width: 480px) /*and (orientation: landscape)*/ {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 481px) and (max-width: 740px) /*and (orientation: landscape)*/ {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}

.navItem {
  height: 300px;
}
.navItem a {
  & p {
    color: black;
    border-color: black;
    transition: all 0.3s;
  }
  &:hover {
    text-decoration: none;
    & p {
      color: white;
      border-color: white;
    }
    .imgContainer {
      background-size: 150%;
      filter: blur(3px);
    }
  }
}
.navItem p {
  border: solid 3px;
  line-height: 1.5em;
  font-size: 2em;
  text-align: center;
  margin: auto;
  position: relative;
  bottom: 70px;
  width: 70%;
}
.navItem .imgContainer {
  height: 300px;
  display: flex;
  justify-content: center;
  // background-size: 100%;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-size 0.3s;
}
