<h2>Listing Users</h2>

<table class="table">
  <thead>
    <tr>
      <th>Registered</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for user <- @users do %>
    <tr>
      <td><%= user.inserted_at %></td>

      <td class="text-right">
        <span><%= link "Show", to: Routes.user_path(@conn, :show, user), class: "btn btn-default btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
