@import url('https://fonts.googleapis.com/css?family=Lato|Tillana');
@import url('../node_modules/normalize.css/normalize.css');
$menuWidth: 300px;
$headerHeight: 50vh;
$gray: #f7f7f7;
$buttonColor: $gray;
*, button, input, optgroup, select, textarea {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}
body {
  background-color: white;
  &>.wrap {
    position: relative;
    display: flex;
    flex-direction: column;
  }
}
.header {
  height: 6rem;
  background-color: white;
  // border-bottom: 1px solid black;
  box-shadow: 0px 0px 10px 7px rgba(204, 204, 204, 0.25);
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
}
.headerLogo {
  max-height: calc(45px);
  align-self: center;
  grid-column: 1 / 3;
}
.headerIcons {
  grid-column: 3 / 5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1.0rem;
  a {
    text-decoration: none;
    color: black;
    &+a {
      margin-left: 0.5rem;
    }
  }
}
.content {
  min-height: 80vh;
  & h1 {
    text-align: center;
    margin-top: 2.5rem;
  }
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  // grid-auto-rows: minmax(100px, auto);
}

.grid5 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  // grid-auto-rows: minmax(100px, auto);
}

.footer {
  height: 20vh;
  display: flex;
  align-items: center;
  padding: 2em;
  & p {
    margin-top: 1rem;
  }
  background-color: $gray;

}
.menu {
  transform: translateX(-100%);
  transition: all 0.3s ease-out;
  width: 100vw;
}

@media (min-width: 576px) {
  .content {
    min-height: 70vh;
  }
  .grid3 {
    grid-template-columns: repeat(2, 1fr);
    & .centeredColumn {
      grid-column: 1/3;
    }
  }
  .grid5 {
    grid-template-columns: repeat(2, 1fr);
  }
  .menu {
    width: 50vw;
  }
}
@media (min-width: 768px) {
  .content {
    min-height: 60vh;
  }
  .grid3 {
    grid-template-columns: repeat(3, 1fr);
    & .centeredColumn {
      grid-column: 2;
    }
    & .wideColumn {
      grid-column: span 2;
    }
  }
  .grid5 {
    grid-template-columns: repeat(7, 1fr);
    & .wideColumn {
      grid-column: span 4;
    }
    & .thinColumn {
      grid-column: span 3;
    }
  }

  .menu {
    width: calc(100vw / 3);
  }
}
@media (min-width: 992px) {
  .content {
    min-height: 50vh;
  }
  .grid5 {
    grid-template-columns: repeat(5, 1fr);
    & .wideColumn {
      grid-column: span 3;
    }
    & .thinColumn {
      grid-column: span 2;
    }
  }
}
@media (min-width: 1200px) {
  .menu {
    width: $menuWidth;
    transform: translateX(0);
  }
  .menuIcon.icon {
    display: none;
  }
  .content {
    margin-left: $menuWidth;
  }
  .header {
    margin-left: $menuWidth;
    height: 2rem;
  }
  .headerLogo {
    display: none;
  }
  .footer {
    margin-left: $menuWidth;
  }
}

.logo-woman img {
  max-height: 100vh;
  margin-top: 2rem;
}

.textContainer {
  padding-left: 2rem;
  padding-right: 2rem;
  p {
    line-height: 1.5rem;
  }
}

@import "Accordion.scss";
@import "CommonElements.scss";
@import "Basket.scss";
@import "BuyNow.scss";
@import "Creator.scss";
@import "Product.scss";
@import "Home.scss";
@import "Menu.scss";
