.fabricsSearch {
  padding: 1.25rem;
  & input {
    width: 100%;
  }
}

ul.searchResults {
  padding-left: 0;
}

$fabricsItemHeight: 40vh;
.fabricsItem {
  display: flex;
  flex-direction: column;
  & a {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: $fabricsItemHeight;
    padding: 1.25rem;
    box-sizing: content-box;
    flex-grow: 2;
  }
  & img {
    max-height: $fabricsItemHeight;
    max-width: 100%;
  }
  transition: all 0.3s ease-out;
  &:hover {
    background: rgba(0,0,0,.075)
  }
}
.fabricsItemLabel {
  text-align: center;
}
