.productsSearch {
  padding: 1.25rem;
  & input {
    width: 100%;
  }
}

ul.searchResults {
  padding-left: 0;
}

$productsItemHeight: 40vh;
.productsItem {
  display: flex;
  flex-direction: column;
  & a {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: $productsItemHeight;
    padding: 1.25rem;
    box-sizing: content-box;
    flex-grow: 2;
  }
  & img {
    max-height: $productsItemHeight;
    max-width: 100%;
  }
  transition: all 0.3s ease-out;
  &:hover {
    background: rgba(0,0,0,.075)
  }
}
.productsItemLabel {
  text-align: center;
}
